.help-content{
  word-break: break-word;
  color: var(--theme-text-color);
  p, li{
    margin-bottom: 10px;
    font-size: 16px;
    line-height:1.2
  }
  .text-lg{
    font-size: 18px;
  }
  .text-2xl{
    font-size: 22px;
  }
  
}
.nav-name{
  color: var(--theme-text-color);
}
.adm-nav-bar-back-arrow{
  color: var(--theme-text-color);
}
.help-container{
  .adm-list-body, .adm-list-item{
    background-color: var(--background-color)
  }
  .adm-plain-anchor{
    color: var(--theme-text-color);
  }
  .adm-list {
    --active-background-color: var(--background-color);
    --border-inner: 1px solid var(--border-color);
    --border-top: 1px solid var(--border-color);
    --border-bottom: 1px solid var(--border-color);
  }
}