.dismiss-btn{
  // width: 70%;
  line-height: 35px;
  --border-radius: 12px;
}
.status-dialog-container{
  padding: 20px;
}
.description{
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  color: var(--theme-text-color)
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.loading-icon{
  animation: 2s linear 0s infinite normal none running rotate;
  margin: 20px 0;
}
.status-dialog-title{
  padding: 20px;
  font-size: 20px;
  color: var(--theme-text-color)
}
.view-explorer{
  color: var(--adm-color-primary)
}
.add-token-to-wallet{
  span{
    color: var(--adm-color-primary);
    border-radius: 50px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    background-color:rgba(93 97 255 / 0.12) ;
  }
}
.cannotEstimate{
  font-size: 14px;
  color: var(--theme-text-color);
  margin-bottom: 10px;
}
.tips-title{
  margin-bottom: 20px;
}
.tips-end{
  margin-top: 20px;
}
.tips-desc{
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
  &::after{
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--theme-text-color);
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 50%;
  }
}